.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.outlineTheme1.label .text {
    -fx-stroke: black;
    -fx-stroke-width: 0.5px;
}

.outlineTheme1MotATrouver.label .text {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.outlineTheme2.label .text {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 0.5px;
}

.outlineTheme2MotATrouver.label .text {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 1px;
}